<h1>Lista de peluches</h1>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Material</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let peluche of peluches" [ngClass] = "{resaltado : peluche.oferta == true}">
            <td><img [src]="peluche.imagen" [alt]="peluche.nombre"></td>
            <td>{{peluche.nombre}}</td>
            <td>{{peluche.material}}</td>
            <td>{{peluche.precio | currency}}</td>
            <td *ngIf = "peluche.stock != 0; else stockElse">{{peluche.stock}}</td>
            <ng-template #stockElse ><td>Sin stock</td></ng-template>
            <td>
              <app-input-integer (maximoAlcanzado)="maximoAlcanzado($event)" [(cuantificador)]= "peluche.cuantificador" [max]= "peluche.stock" *ngIf= "peluche.stock"></app-input-integer>
              <button class="btn" (click)= "agregarAlCarro(peluche)">Comprar</button>
            </td>
        </tr>
    </tbody>
</table>