<h1>Lista de peluches</h1>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Material</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let peluche of peluches">
            <td><img [src]="peluche.imagen" [alt]="peluche.nombre"></td>
            <td>{{peluche.nombre}}</td>
            <td>{{peluche.material}}</td>
            <td>{{peluche.precio}}</td>
            <td>{{peluche.stock}}</td>
        </tr>
    </tbody>
</table>